VITE_SUPABASE_URL=https://kyrsdewrgqejoajhpfrn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_cAtn2dFn4QIv7BSCl7Vmmg_hmOz3jVd
VITE_SUPABASE_FUNCTIONS_URL=https://kyrsdewrgqejoajhpfrn.supabase.co/functions/v1
